# **Weekly exercise 1**

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print ("Panjang =", panjang)
print ("Lebar =", lebar)
print ("Tinggi =", tinggi)
print ("Keliling =", keliling)
print ("Volume =", volume)

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

# **Weekly Exercise 2**

In [ ]:
ratarata_shafira = (85 + 75) /2
ratarata_shafira

80.0

In [ ]:
nilai_hanif_andi_semua_matkul = 75 + 90 + 70 + 75
nilai_hanif_andi_semua_matkul

310

In [ ]:
ratarata_kalkulus_wdy_dhnr_hkm_nd = (85 + 85 + 80 + 95) / 4
ratarata_kalkulus_wdy_dhnr_hkm_nd

86.25

In [ ]:
ratarata_statiska_wdy_dhnr_hkm_nd = (85 + 85 + 75 + 80) / 4
ratarata_statiska_wdy_dhnr_hkm_nd

81.25

In [ ]:
ratarata_kalkulus_semua_mhs = (85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80) / 9
ratarata_kalkulus_semua_mhs

81.11111111111111

In [ ]:
ratarata_statiska_semua_mhs = (75 + 90 + 80 + 80 + 85 + 90 + 75 + 85 + 75) / 9
ratarata_statiska_semua_mhs

81.66666666666667

In [ ]:
print('1. Rata-rata nilai shafira =', ratarata_shafira)
print('2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah', nilai_hanif_andi_semua_matkul)
print('3. Rata-rata nilai kalkulus Widya, Dhanar, Hikma, dan Nedia ', ratarata_kalkulus_wdy_dhnr_hkm_nd)
print('   Rata-rata nilai statiska Widya, Dhanar, Hikma, dan Nedia ', ratarata_statiska_wdy_dhnr_hkm_nd)
print('4. Rata-rata nilai mata kuliah kalkulus untuk semua mahasiswa', ratarata_kalkulus_semua_mhs)
print('5. rata-rata nilai mata kuliah statiska untuk semua mahasiswa', ratarata_statiska_semua_mhs)

1. Rata-rata nilai shafira = 80.0
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah 310
3. Rata-rata nilai kalkulus Widya, Dhanar, Hikma, dan Nedia  86.25
   Rata-rata nilai statiska Widya, Dhanar, Hikma, dan Nedia  81.25
4. Rata-rata nilai mata kuliah kalkulus untuk semua mahasiswa 81.11111111111111
5. rata-rata nilai mata kuliah statiska untuk semua mahasiswa 81.66666666666667

# **Weekly Exercise 3**

In [17]:
gaji_bln_agst = (31-3) * 8 * 30000
gaji_bln_agst

6720000

In [21]:
tunjangan = gaji_bln_agst * 0.1
tunjangan

672000.0

In [22]:
upah_lembur = 5 * 10000
upah_lembur

50000

In [25]:
total_gaji = gaji_bln_agst + tunjangan + upah_lembur
total_gaji

7442000.0

In [27]:
print('1. Gaji bulan agustus jika tidak masuk 3 hari =', gaji_bln_agst)
print('2. Jumlah tunjangan yang diterima bulan agustua =', tunjangan)
print('3. Gaji total yang diterima pada bulan agustus =', total_gaji)

1. Gaji bulan agustus jika tidak masuk 3 hari = 6720000
2. Jumlah tunjangan yang diterima bulan agustua = 672000.0
3. Gaji total yang diterima pada bulan agustus = 7442000.0